
  * {
    margin-left: 0px;
    margin-right: 0px;
  }
body {
  background-color: #eff0f4;
}
.header_main {
  background-color: #2470a0;
  width: 100%;
  height: 55px;
  margin-bottom:0px;
  margin-top: -8px;
}
.container_wrapper{
  width: 100%;
  margin: 0 auto;
}
/*scroll*/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    margin-right: -8px;
    margin-bottom: 50px;
    width:40px;
    height:40px;
    background-color:#2470a0;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:0px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#blue;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
/*end scroll*/
.logom {
  margin-top: -5px;
  margin-bottom: 0px;
  float: left;
}
.logopc {
  display: none;
}
.logom img:first-child {
  position: relative;
  z-index: 2;
  margin-right: -102px;
  margin-bottom: -25px;
  margin-left: 20px;
}
.logom img:last-child {
  position: absolute;
  z-index: 1;
  margin-top: -26px;
  margin-left: 27px;
}
.pc_campus {
  display: none;
}
.logo img {
  margin-left: 20px;
}
.wrapper {
  float: left;
  margin-top: 37px;
  margin-left: 10px;
  margin-right: -45px;
  margin-bottom: -45px;
  position: relative;
  z-index: 1;

}
.wrapper h1 {
  font-size: 15px;
}

h3 {
  font-family: 'Roboto Slab',serif;
  font-size: 20px;
}
button {
  font-family: 'Roboto Slab',serif;
  font-size: 15px;
}
i {
  cursor: pointer;
}
.container_wrapper {
  width: 100%;
  background-color: #eff0f4;
}
/*hamburger*/
.menu_pc {
  display: none;
}
.menu_mob{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
  position: fixed;
	width:30%;
	height:25vh;
  	background:#2470a0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* header{
	width:30%;
	background:#ffffff;
	height:60px;
	line-height:60px;
	border-bottom:1px solid #dddddd;
} */
.hamburger{
  background:none;
  top:0;
  right:0;
  margin-top: 7px;
  line-height:40px;
  padding:5px 15px 0px 15px;
  color:white;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  float: right;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  top:0px;
  right:0;
  margin-top: 7px;
  padding:7px 15px 0px 15px;
  color:white;
  border:0;
  font-size:3em;
  line-height:40px;
  font-weight:bold;
  float: right;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu_mob {
  z-index:1000000;
  font-weight:bold;
  font-size:0.8em;
  width:30%;
  height: 150px;
  margin-left: 336px;
  margin-top:53px;
  background:#2470a0;
  position:absolute;
  text-align:center;
  font-size:12px;
}
.menu_mob ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu_mob li {
  display: block;
  padding:5px;
  color: #000;
}
.menu_mob li:hover{
  display: block;
  background:#ffffff;
  /* padding:15px 0 15px 0; */
  border-bottom:#dddddd 1px solid;}
.menu_mob ul li a {
  text-decoration:none;
  margin: 0px;
  color:white;
}
.menu_mob ul li a:hover {
  color: #666;
  text-decoration:none;
}
.menu_mob a{
  text-decoration:none;
  color:white;
}
.menu_mob a:hover{
  text-decoration:none;
  color:#666;
}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
/* header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;} */

/*main*/
.main {
  position: relative;
  text-align: center;

}
.pc_main img {
  display: none;
}
.main h2 {
  font-family: 'Roboto Slab',serif;
  font-size: 16px;
  font-weight: normal;
}
.main h4 {
  font-family: 'Roboto Slab',serif;
  font-size: 10px;
}
.main img {
  width: 100%;
  margin-top:  0px;
  padding: 0px;
}
.hero_text {
  position: absolute;
  top: 20%;
  left: 23%;
}
.hero_text h2 {
  color: white;
  width: 100%;
  font-size: 2em;
  margin-right: 41px;
  margin-left: -48px;
  margin-top: -351px;
  font-weight: normal;
}
.hero_text1 {
  position: absolute;
  top: 35%;
  left: 20%;
}
.hero_text1 h4 {
  color: white;
  font-size: 1.3em;
  margin-top: -241px;
  margin-left: -26px;
  margin-right: 50px;
  font-weight: normal;
}
.main_button {
  position: absolute;
  top: 70%;
  left: 40%;
  margin-left: 46px;
}
.main_button button {
  border-radius: 5px;
  color: white;
  background-color: #3e2e1e;
  margin-left: -30px;
  margin-right: -65px;
  margin-top: -128px;
  position: absolute;
}

/*courses*/
.head_tagc h3 {
  background-color: #2470a0;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-weight: normal;
  width: 94%;
}
.pc_crs {
  display: none;
}
.course h4 {
  font-family: 'Roboto Slab',serif;
  font-size: 16px;
  font-weight: normal;
}
.course {
  width: 100%;
}
.ug_course {
  background-color: #2470a0;
  width: 80%;
  height: 120px;
  margin-left: 50px;
  overflow: hidden;
}
.ug_course img{
  float: left;
  width: 36%;
  height: 120px;

}
.container_right {
  width: 64%;
  float: right;
  background-color: #2470a0;
  height: 120px;
}
.container_right h4 {
  margin: 0 auto;
  padding: 11px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
.container_right p {
  margin: 0 auto;
  font-family: 'Roboto Slab',serif;
  font-size: 10px;
  color: #fff;
  text-align: center;
  font-weight: normal;

}
.container_right button {
  text-decoration: none;
  color: #fff;
  width: 25%;
  font-size: 7px;
  border-radius: 5px;
  background: transparent;
  margin-left: 96px;
  margin-top:  12px;
  align-items: center;

}
.pgcrs {
  background-color: #2470a0;
  width: 80%;
  height: 120px;
  margin-left: 50px;
  margin-top: 10px;
}
.pgcrs img {
  float: left;
  width: 36%;
  height: 120px;
}
.container_r {
  width: 64%;
  float: right;
  background-color: #2470a0;
  height: 120px;
}
.container_r h4 {
  margin: 0 auto;
  padding: 11px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
.container_r p {
  margin: 0 auto;
  font-family: 'Roboto Slab',serif;
  font-size: 10px;
  color: #fff;
  text-align: center;
  font-weight: normal;
}

.container_r button {
  text-decoration: none;
  color: #fff;
  width: 25%;
  font-size: 7px;
  border-radius: 5px;
  margin-top: 10px;
  background: transparent;
  margin-left: 96px;

}
.menu a:hover {
  background-color: white;
}
button {
  cursor: pointer;
}

/*aboutus*/
.head_taga h3 {
  background-color: #2470a0;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-weight: normal;
  width: 94%;
}
.mob_about {

}
.pc_about {
  display: none
}
.Aboutus {
  height: 240px;
}
.Aboutus h4 {
  font-family: 'Roboto Slab',serif;
  font-size: 12px;
}
.fclty i {
  float: left;
  margin-left: -80px;
  margin-top: -70px;
}
.fclty img{
  width: 100%;
}
.fclty {
  margin-left: 86px;
  width: 110px;
  height: 150px;
  float: left;
}
.Aboutus button {
  cursor: pointer;
}
.fclty h4 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.fclty button {
  margin-top: 0px;
  margin-left: 23px;
  border-radius: 5px;
  border-color: #000;
  background: transparent;
  font-size: 10px;
}
.libry {
  float: right;
  margin-right: 83px;
  width: 110px;
  height: 150px;
}
.libry img {
  width: 100%;
}
.libry i {
  float: right;
  margin-right: -75px;
  margin-top: -70px;
}
.libry h4 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.libry button {
  margin-top: 0px;
  margin-left: 23px;
  border-radius: 5px;
  border-color: #000;
  background: transparent;
  font-size: 10px;
}

/*research*/
.head_tagr h3 {
  background-color: #2470a0;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-weight: normal;
  width: 94%;
}
.pc_research {
  display: none;
}
.Research p:last-child:hover {
  cursor:pointer;
}
.Research h4 {
  font-family: 'Roboto Slab',serif;
  font-size: 16px;
}
.Research p {
  font-family: 'Roboto Slab',serif;
  font-size: 11px;
}
.Research img {
  width: 80%;
margin-left: 50px;
}
.Research h4 {
  text-align: center;
}
.resrch1 p {
  width: 80%;
  margin-left: 50px;
}
.Research a {
  font-size: 12px;
  float: right;
  margin-right: 50px;
  color: black;
  margin-bottom: 10px;
}

.resrch2 p {
  width: 80%;
  margin-left: 50px;
}

/*admission*/
.head_tagad h3{
  background-color: #2470a0;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-weight: normal;
  margin-top: 50px;
  width: 94%;
}
.Admission {
  margin-top: 30px;
}
.pc_admin {
  display: none;
}
.containerp {
  display: none;
}
.Admission img {
  width: 100%;
  margin-top: -19.6px;
  margin-bottom: -24px;
}
.Admission button {
  cursor: pointer;
}
.Admission h4 {
  font-family: 'Roboto Slab',serif;
  font-weight: normal;
}
.Admission h5 {
  font-family: 'Roboto Slab',serif;
  font-weight: normal;
}
.containerm {
  position: relative;
  text-align: center;
}
.centered_up {
  position: absolute;
  top: 15%;
  left: 25%;
}
.centered_up h4{
  color: white;
  font-weight: normal;
  font-size: 1.4em;
  margin-left: -50px;
  margin-top: -5px;
  text-align: center;
}
.centered_middle {
  position: absolute;
  top: 40%;
  left: 18%;

}
.centered_middle h5 {
  color: white;
  font-weight: normal;
  font-size: 1.2em;
  margin-top: -16px;
  margin-left: 4px;
  margin-right: 78px;
}
.centered_bottom {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered_bottom button {
  border-radius: 5px;
  color: white;
  background-color: #3e2e1e;
}
/*Activities*/
.mob_act p {
  text-align: center;
}
.mob_act img {
  width: 90%;
}
.pc_act {
  display: none
}
.mob_act button {
  cursor: pointer;
}
.mob_act figure {
  padding-left: 50px;
}
.mob_act h4 {
  font-family: 'Roboto Slab',serif;
  font-size: 16px;
}
.mob_act p {
  font-family: 'Roboto Slab',serif;
  font-size: 14px;
  font-weight: bold;
}
.mob_act p:last-child {
  font-weight: normal;
  font-size: 12px;
}
.mob_act button {
  border-radius: 5px;
  color: white;
  position: relative;
  left: 45%;
}
.mob_act h4 {
  margin-left: 40px;
}
.head_tagac h3 {
  background-color: #2470a0;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-weight: normal;
  width: 94%;
}
.mob_act button {
  background-color: #2470a0;
}
/*campus placement*/
.cp h3 {
  background-color: #2470a0;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-weight: normal;
  margin-top: 50px;
  width: 94%;
}
.mob_campus img{
  width: 20%;
}
.wipro img{
  width: 22%;
  padding: 0px;
}
  i {
  float: left;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 0px;
 }
 i:last-child {
  float: right;
  margin-right: 5px;
  margin-top: -95px;
}
.i {
  color: black;
  width: 10px;
  height: 10px;
}
.wipro img {
  padding: 0px 15px 20px 15px;
}
.wipro img {
  margin-left: 10px;
}
/*footerup*/
.pc_f {
  display: none;
}
.footer_up {
  background-color: #c4cfcf;
  width: 100%;
  height: 110px;
  padding: 0px;
  margin: 0px;
}
.right h4 {
  font-family: 'Roboto Slab',serif;
}
.right p {
  font-family: 'Roboto Slab',serif;
}
.left {
  margin-left: 70px;
  float: left;
}
.left img {
  cursor: pointer;

}
.left p{
  margin-top: -17px;
  margin-left: 15px;
  font-size: 13px;
}


.right {
  float: right;

}
.right img{
  display: inline-block;
  float: left;
  margin-left:-20px;
  margin-top: -7px;
  cursor: pointer;


}
.right {
  margin-top: -10px;
}
.right h4 {
  font-size: 13px;
  margin-bottom: 12px;
}
.right p {
  margin-right: 50px;
  margin-top: 0px;
  font-size: 10px;
  display: inline;
  width: 100%;
}
.right img {
  padding: 2px;
  margin-top: 5px;
  display: inline;
}
.rightp {
  display: none;
}
/*footer*/
footer h3 {
  background-color: #2470a0;
}
footer {
  background: #2470a0;
  margin: 0px;
  padding: 0.5px;
  width: 100%;
}
footer p {
  text-align: center;
  font-family: 'Roboto Slab',serif;
  font-size: 8px;
  width: 100%;
  color: white;
}
